<%= form_for @car do |f| %>





    <div class="field">
        <%= f.label :make %>
        <%= f.text_field :make %>
    </div>
    <div class="field">
        <%= f.label :model %>
        <%= f.text_field :model %>
    </div>
    <div class="field">
        <%= f.label :year %>
        <%= f.text_field :year %>
    </div>
    <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
    </div>
    <div class="field">
        <%= f.label :mileage %>
        <%= f.text_field :mileage %>
    </div>
    <div class="field">
        <%= f.label :img %>
        <%= f.text_field :img %>
    </div>
    <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>