<h1>hi hi cars indx</h1>


<button> <%= link_to 'New', new_car_path(@car) %> </button><hr>
<% @cars.each do |car|%>
  <%= link_to image_tag(car.img, :style => "width:150px; height:150px "), car_path(car) %>
 
      <strong>Make:</strong>
   <%= car.make %>
      <strong>Model:</strong>
   <%= car.model %>
      <strong>Year:</strong>
   <%= car.year %>
      <strong>Color:</strong>
   <%= car.color %>
      <strong>Mileage:</strong>
   <%= car.mileage %>
   <strong>Contact on:</strong>
   <%= car.phone %>
   <br>
   
   <hr>
 <%end%>

 
 